.app {
  text-align: center;
  background-color: #434343;
  font-size: large;
  min-height: 500px;
  margin: 0 auto;
}

.appLogo {
  height: 80px;
}

/* .appHeader {
  padding: 20px;
  height: 100px;
  color: white;
}

.appHeader h1 {
    background-color: #808080; 
    padding: 20px;
    border-radius: 5px;
} */

/* .appBody {
  font-size: large;
  min-height: 500px;
  margin: 0 auto;
  text-align: center;
} */
